* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.body {
    display: grid;
    grid-template-rows: auto auto auto;
}
.header, .main, .aside, .footer {
    display: flex;
    padding: 20px;
    margin: 10px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 10px #020202;
    border-radius: 25px;
}
.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: auto;
    background-color: #f2f2f2;
}
.LogoHeader{
    height: 90%;
    align-items:baseline;
    align-self: baseline;
}
.Headernav{
    display: flex;
    flex-direction: row;
    border: 0.5px solid #000000;
    border-radius: 25px;
    margin-left: 60px;
    flex-wrap: wrap;
    gap: 20px;
}
.HeadernavW{
    text-decoration: none;
    color: black;
    margin: 10px;
    border: 0.5px solid #000000;
    border-radius: 25px;
    padding: 20px;
    transition: transform 0.5s ease;
}
.HeadernavW:hover{
    background-color: darkgreen;
    color: #ffffff;
    border: 0.5px solid #000000;
    border-radius: 25px;
    box-shadow: 5px 5px 10px #020202;
    transform: translateY(-5px);
    
}
.main {
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height: auto;
    width: auto;
}
.Widgets{
    display: flex;
    flex-direction: row;
}
.widget{
    background-color: #be4b4b;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease;
    margin: 5px;
}
.widget:hover{
    background-color: #be4b4b;
    cursor: pointer;
    color: #ffffff;
    opacity: 1;
    transform: translateY(-5px);
}
.Servicios{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
p {
    text-align: center;
}
