<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/images/style.css">
    <title>Walking Eggs</title>
</head>
<body class="body">
<header class="header">
  <img src="../static/images/WalkingEggsLogoNoFondo(OP).png" alt="LogodeWeb"class="LogoHeader">
  <section>
    <nav class="Headernav">
      <a href="main.html" class="HeadernavW"> <h3>Inicio</h3></a>
      <a href="citas.html" class="HeadernavW"> <h3>agenda tu Citas</h3> </a>
      <a href="none"class="HeadernavW" class="HNWho"> <h3>¿Quienes Somos?</h3></a>
    </nav>
  </section>

</header>
<main class="main">
     <img src="../static/images/equipo (OP).jpg" alt="equipo foto" class="equipo">
    <section  class="article">
       <p>En walking.eggs.odontolog tenemos un equipo de profesionales solamente para brindarle a usted, <br> como cliente una atencion de primer nivel.</p>
       <br>
       <p>Nosotros nos dedicamos a ofrecerles servicios de calidad. para relucir esa sonrisa que nunca tuvo.</p>
       <br>
         <a href="../templates/citas.html" class="boton"> <p>Quienes somos </p></a>
    </section >
    <section class="Widgets">
   <article class="widget">
      <img src="../static/images/icons8-lol-50 (OP).png" alt="lol" class="lolicon1">
      <p>30000 <br>Clientes Satisfechos</p>
    </article>
   <article class="widget">
     <img src="../static/images/icons8-comprobado-50 (OP).png" alt="check" class="checkicon">
      <p>50 <br>Años de experiencia</p>
    </article>
   <article class="widget">
        <img src="../static/images/icons8-calendario-más-50 (OP).png" alt="calendario" class="calendarioicon">
        <p>2000 <br>citas por mes</p>
    </article>
    </section>
    <section class="Servicios">
        <h1>Nuestros Servicios</h1>
        <br>
        <p>En Odontosalud, ofrecemos una amplia gama de servicios diseñados para atender todas tus necesidades dentales. Desde limpiezas y blanqueamiento dental hasta tratamientos avanzados en implantes dentales, prótesis sobre implantes, ortodoncia y estética dental. Nuestro equipo de especialistas está aquí para cuidar de ti y de tu sonrisa.</p>
        <br>
    <article class="serviciosArt">    
        <img src="../static/images/implantes-dentales-480x320 (OP).jpg" alt="implante dental" class="implanteimg">
        <h3>Implantes Dentales</h3>
      </article> 
          <article class="serviciosArt">    
        <img src="../static/images/protesis-dentales22-480x320 (OP).jpg" alt="implante dental" class="implanteimg">
        <h3>Protesis Dentales</h3>
      </article> 
          <article class="serviciosArt">    
        <img src="../static/images/ortodoncia-480x320 (OP).jpg" alt="implante dental" class="implanteimg">
        <h3>Ortodoncia</h3>
      </article> 
    </section>
  
</main>
<footer class="footer">
   
       <section class="Info">
         <img src="../static/images/WalkingEggsLogo (OP).png" alt="" style="width: 60%;">
       <p>Somos una clínica dental que busca ser un referente de calidad en atención odontológica, y responder a la confianza de nuestros pacientes en base a la ética, el profesionalismo y la alta tecnología.</p>
       <br>
      <h3>Agenda tu Cita en Caracas o Aragua</h3>
      <br>
       <p>Nosotros somos tu solución. Escríbenos y veremos cómo te podemos ayudar a resolver tu caso. Estaríamos felices de tener como paciente.</p>
       <br>
         <a href="../templates/citas.html" class="boton"> <p> agenda tu cita </p></a>
    </section>
</footer>
</body>
</html>